body{
    background-image:url("avion2.jpg");
    background-repeat : no-repeat;
    background-size : 100% 100%;
    background-attachment : fixed;
	margin : 0;
}

#sign_in{
    background-color : white;
    height : 200px;
    width : 500px;
    border : black medium solid;
    border-radius : 10px;
	position : relative;
    margin : 100px auto;
}
		      
#bar{
    margin-top : 10%;
    margin-left : 25%;
}

p{
	display : block;
	text-align : center;
}

#forgot{
	display : block;
	position : absolute;
    margin : 5px auto;
}

#sign{
    margin : 30px auto;
}